table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

td, th {
    border: 1px solid rgba(70, 204, 192, 0.6);
    padding : 20px;
}

tr:nth-child(even) {
    background-color: rgba(49, 130, 173, 0.92);
}
tr:nth-child(odd) {
    background-color: rgba(133, 218, 218, 0.85);
}

.delete_btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}